<div class="row justify-space-between-md">
  <div class="login-card">
    <h2
      class="page-title"
      style="font-family: Passion One; color: yellow; font-size: 5rem;"
    >Login</h2>
    <form class="form login-form">
      <div class="form-group fs-1">
        <label
          for="email-login"
          style="color: yellow;font-family: Passion One"
        >Email:</label>
        <input
          class="form-input w-50 form-control"
          type="text"
          id="email-login"
        />

      </div>
      <br />
      <div class="form-group fs-1">
        <label
          for="password-login"
          style="color: yellow;font-family: Passion One"
        >Password:</label>
        <input
          class="form-input w-50 form-control"
          type="password"
          id="password-login"
        />
      </div>
      <div class="form-group">
        <button
          class="btn btn-lg mt-5 w-25 fs-1"
          type="submit"
          style="color: yellow;font-family: Passion One;background-color: red;"
        >Login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2
      class="page-title"
      style="font-family: Passion One; color: yellow;font-size: 5rem;"
    >Signup</h2>
    <form class="form signup-form">
      <div class="form-group fs-1">
        <label
          for="username-signup"
          style="font-family: Passion One; color:yellow;"
        >Username:</label>
        <input
          class="form-input form-control w-50"
          type="text"
          id="username-signup"
        />
      </div>
      <div class="form-group fs-1">
        <label
          for="email-signup"
          style="font-family: Passion One; color: yellow;"
        >Email:</label>
        <input
          class="form-input form-control w-50"
          type="text"
          id="email-signup"
        />
      </div>
      <div class="form-group fs-1">
        <label
          for="password-signup"
          style="font-family: Passion One;color:yellow;"
        >Password:</label>
        <input
          class="form-input form-control w-50"
          type="password"
          id="password-signup"
        />
      </div>
      <div class="form-group">
        <button
          class="btn btn-lg w-25 mt-5 fs-1"
          style="color: yellow;font-family: Passion One;background-color: red;"
          type="submit"
        >Signup!</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>