{{#each staffs as |staff|}}
{{>staff-details}}
{{/each}}

{{#if loggedIn}}
<div>
<h2>Add Staff</h2>
<form class = "add-staff">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="first name">First Name</label>
      <input type="name" class="form-control" id="first_name" placeholder="First Name">
    </div>
    <div class="form-group col-md-4">
      <label for="last name">Last Name</label>
      <input type="last name" class="form-control" id="last_name" placeholder="Last Name">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="occupation">Occupation</label>
      <input type="string" class="form-control" id="occupation" placeholder="occupation">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<script src ="../js/addStaff.js"></script>
{{/if}}