.navbar a:hover {
  background-color: black;
  color: yellow;
  font-weight: 900;
}

.mycolor {
  color: rgb(50, 0, 187);
}
.bg-image {
  background-image: url(https://www.tampabay.com/resizer/4ZoAgHljRSH0BDSsWuYl8lr3QNs=/1600x900/smart/cloudfront-us-east-1.images.arcpublishing.com/tbt/RLVAC6RWJVDVXEH4MVGUKKOSUQ.jpeg);
  height: 40rem;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}
.eissler-custom {
  justify-content: center;
}

@media screen and (max-width: 992px) {
  .bg-image {
    height: 35rem !important;
  }
}
@media screen and (max-width: 820px) {
  .bg-image {
    height: 29rem !important;
  }
}
@media screen and (max-width: 576px) {
  .bg-image {
    height: 15em !important;
  }
}
